#### Doublet Detection 

This notebook uses [Doublet Detection](https://github.com/JonathanShor/DoubletDetection) to predict doublets.

In [1]:
import numpy as np
import pandas as pd
import doubletdetection
import scanpy as sc
import matplotlib.pyplot as plt

In [2]:
# Getting train data

df_train = pd.read_csv("../train/training.csv", header=None)
df_train.columns = ['UMI', 'doublet']
df_train

                  UMI  doublet
0    GCTCTGTCAATGGATA        1
1    GATGAGGGTACGAAAT        0
2    AGGCCACGTACAGCAG        0
3    ACGCCGAGTCACACGC        0
4    TCTTCGGAGGCTAGCA        0
..                ...      ...
995  ACTGCTCCACTCGACG        0
996  TGGTTAGGTAAACGCG        0
997  TTCTCAATCAGTACGT        1
998  TGAGCCGGTCTCTTAT        0
999  AGGTCCGTCCATGCTC        0

[1000 rows x 2 columns]

In [3]:
# Get the counts of doublets and singlets 

df_train['doublet'].value_counts()

doublet
0    855
1    145
Name: count, dtype: int64

In [4]:
# read the test data 

adata = sc.read_h5ad('../test_data/sce.h5ad')

In [5]:
# get expected doublet number

expected_n = int(len(adata.obs) * (145/1000))

print(expected_n)

3183

In [6]:
# actual expected doublet number: 2892

In [7]:
# referencing past threshold chart to match the expected number of doublets 

# file location: f"prediction\prediction{n}\threshold_test.pdf" where n is the last prediction

In [114]:
# adjusting thresholds

p_thresh = 1e-10
voter_thresh = 0.62

#### Prediction stage

Use BoostClassifier with the adjusted threshold

In [85]:
clf = doubletdetection.BoostClassifier(
    n_iters=30,
    clustering_algorithm="louvain",
    standard_scaling=True,
    verbose=False,
    #pseudocount=0.1,
    #n_jobs=-1,
)

clf.fit(adata.X)

for thresh in range(7, 13):
    doublets = clf.predict(p_thresh=thresh)
    doublet_score = clf.doublet_score()
    adata.obs[f"doublet_{thresh}"] = doublets
    adata.obs[f"doublet_score_{thresh}"] = doublet_score

  0%|          | 0/30 [00:00<?, ?it/s]

Iteration   1/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1771, 1601, 1566, 1548, 1485, 1452, 1404, 1288, 1272, 1227, 1155, 1018, 1017, 966, 966, 955, 812, 767, 742, 740, 592, 458, 434, 339, 337, 292, 235, 200, 180, 177, 120, 118, 106, 93, 9]

Iteration   2/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1591, 1573, 1532, 1431, 1417, 1316, 1314, 1248, 1231, 1145, 1112, 1061, 1040, 988, 981, 963, 754, 698, 679, 670, 572, 542, 512, 448, 440, 367, 346, 330, 284, 222, 205, 122, 107, 103, 98]

Iteration   3/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1790, 1447, 1387, 1387, 1341, 1224, 1212, 1209, 1192, 1175, 1127, 1122, 1022, 1016, 994, 978, 902, 735, 697, 695, 666, 557, 552, 440, 364, 348, 328, 255, 245, 210, 205, 198, 112, 107, 100, 65, 38]

Iteration   4/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1866, 1800, 1516, 1469, 1428, 1330, 1322, 1259, 1231, 1194, 1173, 1145, 1128, 1077, 1059, 931, 768, 687, 634, 582, 503, 476, 470, 394, 353, 349, 242, 228, 195, 131, 110, 105, 97, 88, 52, 39, 11]

Iteration   5/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1736, 1593, 1500, 1445, 1387, 1372, 1276, 1224, 1186, 1174, 1092, 1055, 1025, 949, 842, 749, 746, 716, 695, 640, 623, 528, 520, 440, 435, 410, 407, 388, 279, 229, 187, 176, 117, 104, 87, 58, 52]

Iteration   6/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1549, 1512, 1476, 1451, 1421, 1328, 1316, 1306, 1234, 1219, 1154, 1072, 995, 941, 913, 894, 695, 666, 647, 626, 605, 557, 542, 510, 453, 436, 419, 403, 270, 245, 188, 110, 99, 84, 52, 38, 16]

Iteration   7/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1563, 1507, 1494, 1415, 1385, 1369, 1324, 1261, 1112, 1087, 1079, 1016, 1007, 994, 993, 879, 876, 838, 747, 701, 679, 630, 620, 459, 397, 349, 349, 272, 207, 177, 170, 138, 109, 108, 88, 28, 15]

Iteration   8/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1637, 1570, 1554, 1492, 1461, 1241, 1181, 1147, 1146, 1095, 1045, 1025, 1015, 931, 930, 797, 780, 749, 744, 622, 611, 587, 560, 469, 457, 451, 418, 379, 377, 242, 180, 176, 111, 100, 96, 66]

Iteration   9/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1616, 1467, 1426, 1360, 1352, 1275, 1253, 1171, 1151, 1134, 1098, 1094, 1074, 1032, 1018, 925, 809, 803, 793, 761, 717, 701, 560, 524, 467, 462, 313, 180, 173, 156, 114, 106, 100, 90, 89, 78]

Iteration  10/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1900, 1721, 1614, 1513, 1432, 1418, 1415, 1377, 1315, 1292, 1177, 1131, 1098, 1081, 937, 912, 708, 689, 686, 547, 512, 476, 339, 335, 259, 245, 245, 202, 196, 190, 130, 114, 108, 107, 21]

Iteration  11/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1942, 1716, 1668, 1584, 1372, 1270, 1242, 1213, 1162, 1136, 1132, 1089, 1079, 1004, 992, 988, 953, 872, 707, 655, 651, 635, 595, 533, 246, 198, 186, 152, 103, 102, 90, 75, 62, 25, 13]

Iteration  12/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1647, 1641, 1601, 1480, 1479, 1400, 1284, 1235, 1165, 1130, 1103, 1007, 992, 924, 832, 823, 776, 747, 718, 673, 650, 588, 559, 514, 455, 390, 268, 250, 243, 203, 191, 139, 110, 98, 88, 39]

Iteration  13/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 37], with sizes: [1484, 1339, 1329, 1291, 1290, 1280, 1182, 1176, 1140, 1018, 945, 914, 862, 861, 830, 824, 814, 738, 702, 698, 674, 650, 643, 631, 622, 586, 577, 445, 397, 350, 268, 252, 224, 110, 109, 99, 54, 34]

Iteration  14/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1758, 1679, 1495, 1427, 1364, 1330, 1247, 1233, 1204, 1179, 1056, 1049, 1032, 1013, 954, 924, 852, 838, 823, 622, 579, 578, 551, 521, 460, 386, 227, 209, 156, 143, 129, 119, 104, 103, 98]

Iteration  15/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1426, 1389, 1371, 1365, 1356, 1340, 1332, 1162, 1130, 1091, 1025, 1023, 1006, 1003, 993, 970, 938, 884, 750, 732, 708, 611, 599, 521, 477, 448, 344, 267, 244, 219, 173, 146, 109, 108, 94, 74, 14]

Iteration  16/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 38], with sizes: [1549, 1499, 1412, 1342, 1292, 1276, 1182, 1179, 1096, 1076, 1075, 1041, 1005, 989, 926, 856, 824, 798, 796, 795, 755, 723, 581, 418, 383, 382, 322, 314, 280, 252, 240, 195, 118, 106, 105, 103, 70, 51, 36]

Iteration  17/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1705, 1492, 1481, 1467, 1449, 1426, 1217, 1201, 1196, 1130, 997, 977, 892, 867, 853, 852, 793, 775, 772, 695, 691, 626, 588, 530, 447, 437, 372, 277, 265, 238, 213, 161, 107, 103, 101, 49]

Iteration  18/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 37], with sizes: [1831, 1731, 1494, 1475, 1441, 1427, 1212, 1150, 1109, 1037, 1033, 986, 965, 959, 914, 783, 758, 673, 664, 638, 638, 560, 521, 475, 472, 458, 376, 295, 284, 249, 230, 159, 114, 108, 92, 64, 37, 30]

Iteration  19/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1989, 1688, 1603, 1516, 1416, 1414, 1376, 1231, 1212, 1171, 1135, 1080, 1072, 1018, 1007, 987, 867, 673, 651, 623, 546, 531, 462, 428, 408, 240, 234, 149, 139, 132, 118, 100, 91, 64, 54, 17]

Iteration  20/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1781, 1468, 1428, 1388, 1349, 1285, 1247, 1221, 1214, 1116, 1105, 1017, 994, 962, 953, 875, 850, 712, 689, 683, 678, 587, 572, 488, 441, 438, 436, 274, 237, 199, 170, 145, 108, 107, 90, 87, 48]

Iteration  21/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1767, 1557, 1493, 1444, 1427, 1384, 1354, 1193, 1144, 1115, 1054, 1042, 1038, 1036, 930, 923, 915, 866, 787, 780, 744, 639, 617, 512, 382, 332, 241, 186, 118, 98, 97, 95, 91, 23, 18]

Iteration  22/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1569, 1566, 1509, 1486, 1425, 1408, 1301, 1284, 1160, 1145, 1095, 1088, 1073, 1069, 1068, 974, 969, 941, 865, 708, 641, 533, 468, 431, 410, 235, 232, 211, 160, 107, 105, 102, 55, 39, 10]

Iteration  23/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1623, 1587, 1530, 1457, 1428, 1425, 1398, 1373, 1221, 1194, 1123, 1060, 992, 986, 914, 847, 841, 731, 682, 671, 542, 542, 512, 467, 426, 308, 306, 269, 218, 181, 145, 145, 108, 105, 85]

Iteration  24/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1919, 1562, 1562, 1528, 1524, 1450, 1432, 1370, 1141, 1075, 1030, 1005, 997, 988, 936, 838, 807, 703, 697, 690, 638, 599, 550, 388, 344, 306, 288, 266, 183, 175, 107, 107, 92, 72, 69, 4]

Iteration  25/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 36], with sizes: [1866, 1699, 1442, 1372, 1348, 1275, 1206, 1157, 1141, 1060, 1044, 978, 943, 914, 859, 747, 706, 691, 685, 615, 583, 581, 539, 534, 508, 485, 466, 463, 443, 195, 186, 184, 117, 111, 103, 100, 96]

Iteration  26/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 34], with sizes: [1732, 1710, 1688, 1465, 1458, 1388, 1299, 1289, 1249, 1052, 1027, 1013, 932, 920, 898, 874, 867, 731, 692, 629, 623, 620, 579, 470, 430, 397, 329, 207, 195, 178, 165, 113, 99, 98, 26]

Iteration  27/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 38], with sizes: [1588, 1506, 1463, 1286, 1240, 1222, 1221, 1171, 1146, 1108, 1106, 1059, 1033, 926, 874, 794, 783, 782, 725, 638, 636, 635, 597, 585, 474, 451, 438, 426, 276, 259, 236, 187, 118, 115, 101, 96, 79, 35, 27]

Iteration  28/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 38], with sizes: [1655, 1498, 1480, 1442, 1436, 1257, 1159, 1144, 1072, 1037, 1035, 1027, 973, 954, 908, 877, 851, 846, 845, 679, 640, 630, 623, 592, 489, 476, 398, 289, 230, 149, 142, 118, 113, 111, 107, 54, 44, 31, 31]

Iteration  29/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1545, 1513, 1485, 1448, 1373, 1258, 1204, 1174, 1174, 1100, 1005, 997, 991, 985, 962, 934, 913, 817, 799, 794, 723, 653, 652, 503, 457, 411, 267, 255, 231, 202, 154, 121, 109, 105, 91, 37]

Iteration  30/30

Creating synthetic doublets...
Normalizing...
Running PCA...
Clustering augmented data set...

Found clusters [0, ... 35], with sizes: [1752, 1591, 1558, 1531, 1465, 1391, 1272, 1180, 1161, 1152, 1100, 1081, 1073, 968, 890, 870, 791, 705, 654, 612, 569, 560, 538, 484, 480, 467, 346, 311, 267, 193, 117, 107, 93, 69, 30, 14]

In [117]:
# saving the doublets and doublet scores in adata

adata.obs["doublet"] = doublets
adata.obs["doublet_score"] = doublet_score

#### Visualizing results

In [118]:
# setting the prediction round count

pred_count = 5

In [119]:
# preparing for umap

sc.pp.normalize_total(adata)
sc.pp.log1p(adata)
sc.pp.highly_variable_genes(adata)
sc.tl.pca(adata)
sc.pp.neighbors(adata)
sc.tl.umap(adata)

WARNING: adata.X seems to be already log-transformed.

KeyboardInterrupt:

In [89]:
sc.pl.umap(adata, color=["doublet", "doublet_score"], save='umap.pdf')

plt.show()

WARNING: saving figure to file figures\umapumap.pdf

c:\Users\lunat\miniconda3\envs\biomed\lib\site-packages\scanpy\plotting\_utils.py:314: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  pl.show()
C:\Users\lunat\AppData\Local\Temp\ipykernel_10436\3813664385.py:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [120]:
type(adata.obs)

pandas.core.frame.DataFrame

In [105]:
# put the observation doublet results in a new df 

df_detected = adata.obs

In [106]:
df_detected

                  doublet  doublet_score
AGAGCGAAGATCTGCT      1.0   3.835109e+01
ACATCAGTCTGACCTC      0.0   2.356285e+01
TTCTCCTGTCCTGCTT      1.0   3.835109e+01
GAAACTCTCATGTAGC      0.0   2.356285e+01
CAGTCCTGTCTAGCCG      0.0   2.356285e+01
...                   ...            ...
TTTATGCTCTTGTACT      0.0   3.713946e-46
ATAACGCCAAGCTGGA      0.0   2.097192e-54
ATTACTCAGTGGACGT      0.0   3.713946e-46
CGTGTCTCAAGCGTAG      0.0   1.617720e-50
CCGGGATCAATCGGTT      0.0   1.086942e-49

[21954 rows x 2 columns]

In [107]:
# check to see if the detected result matches the expected count

df_detected['doublet'].value_counts()

doublet
0.0    19210
1.0     2744
Name: count, dtype: int64

In [94]:
boxplot = df_detected.boxplot(
    column=['doublet_score'], 
    by=['doublet'],
    #save='../prediction/prediction1/boxplot.pdf'
)

plt.show()
plt.savefig(f"../prediction/prediction{pred_count}/boxplot.png")

C:\Users\lunat\AppData\Local\Temp\ipykernel_10436\988335967.py:7: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [95]:
sc.pl.violin(adata, "doublet_score")
plt.savefig(f"../prediction/prediction{pred_count}/violin.png")

c:\Users\lunat\miniconda3\envs\biomed\lib\site-packages\scanpy\plotting\_utils.py:314: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  pl.show()

In [121]:
# get a doublet-only and singlet-only df from train data

doublets_UMI = df_train[df_train['doublet']==1]['UMI']
singlets_UMI = df_train[df_train['doublet']==0]['UMI']

doublet_df = df_detected[df_detected.index.isin(doublets_UMI)]

singlet_df = df_detected[df_detected.index.isin(singlets_UMI)]
singlet_df

                  doublet  doublet_score
AAGTCTGAGCGTCTAT      0.0   2.444479e+01
AGATTGCGTTTGGGCC      0.0   3.457425e+01
CATGACATCTATCGCC      0.0   2.356285e+01
GTCCTCATCCTTGGTC      1.0   3.835109e+01
AGGCCGTTCACATACG      0.0   2.356285e+01
...                   ...            ...
GCTTGAACATGCCACG      0.0   1.086942e-49
GGTGAAGCATTTCAGG      0.0   1.086942e-49
TGTCCCATCCACGACG      0.0   3.713946e-46
GCGCAGTGTTGTGGAG      0.0   3.713946e-46
CTTACCGCACCAACCG      0.0   1.617714e-50

[855 rows x 2 columns]

In [122]:
df_train

                  UMI  doublet
0    GCTCTGTCAATGGATA        1
1    GATGAGGGTACGAAAT        0
2    AGGCCACGTACAGCAG        0
3    ACGCCGAGTCACACGC        0
4    TCTTCGGAGGCTAGCA        0
..                ...      ...
995  ACTGCTCCACTCGACG        0
996  TGGTTAGGTAAACGCG        0
997  TTCTCAATCAGTACGT        1
998  TGAGCCGGTCTCTTAT        0
999  AGGTCCGTCCATGCTC        0

[1000 rows x 2 columns]

In [123]:
df_detected = df_detected.reset_index()
df_detected

                  index  doublet  doublet_score
0      AGAGCGAAGATCTGCT      1.0   3.835109e+01
1      ACATCAGTCTGACCTC      0.0   2.356285e+01
2      TTCTCCTGTCCTGCTT      1.0   3.835109e+01
3      GAAACTCTCATGTAGC      0.0   2.356285e+01
4      CAGTCCTGTCTAGCCG      0.0   2.356285e+01
...                 ...      ...            ...
21949  TTTATGCTCTTGTACT      0.0   3.713946e-46
21950  ATAACGCCAAGCTGGA      0.0   2.097192e-54
21951  ATTACTCAGTGGACGT      0.0   3.713946e-46
21952  CGTGTCTCAAGCGTAG      0.0   1.617720e-50
21953  CCGGGATCAATCGGTT      0.0   1.086942e-49

[21954 rows x 3 columns]

In [125]:
df_detected.columns = ['UMI', 'doublet_detected', 'doublet_score']

In [126]:
df_train = df_train.merge(df_detected, on='UMI', how='left')

In [127]:
df_train

                  UMI  doublet  doublet_detected  doublet_score
0    GCTCTGTCAATGGATA        1               1.0   2.723823e+02
1    GATGAGGGTACGAAAT        0               1.0   3.724646e+02
2    AGGCCACGTACAGCAG        0               0.0   6.849729e-05
3    ACGCCGAGTCACACGC        0               0.0   4.106492e-23
4    TCTTCGGAGGCTAGCA        0               0.0   1.086942e-49
..                ...      ...               ...            ...
995  ACTGCTCCACTCGACG        0               0.0   3.052982e-02
996  TGGTTAGGTAAACGCG        0               1.0   1.400135e+02
997  TTCTCAATCAGTACGT        1               1.0   3.684269e+02
998  TGAGCCGGTCTCTTAT        0               0.0   1.967257e-04
999  AGGTCCGTCCATGCTC        0               0.0   2.653425e-34

[1000 rows x 4 columns]

In [129]:
import seaborn as sns

sns.boxplot(data=df_train, x="doublet_score", y="doublet")

In [133]:
doublet_df['doublet_score'].describe()

count    1.450000e+02
mean     2.041853e+02
std      2.105833e+02
min      3.713946e-46
25%      8.517580e-01
50%      7.315021e+01
75%      3.724646e+02
max      6.600175e+02
Name: doublet_score, dtype: float64

In [134]:
singlet_df['doublet_score'].describe()

count    8.550000e+02
mean     1.687934e+01
std      6.883730e+01
min      8.827736e-61
25%      7.358281e-21
50%      1.299355e-07
75%      1.435105e-01
max      6.524328e+02
Name: doublet_score, dtype: float64

In [130]:
df_train.to_csv(f'../prediction/prediction{pred_count}/df_train.csv', index = False)

In [109]:
doublet_df['doublet'].value_counts()

doublet
1.0    73
0.0    72
Name: count, dtype: int64

In [110]:
### Figures ###

doubletdetection.plot.convergence(clf, save=f'../prediction/prediction{pred_count}/convergence_test.pdf', show=False, p_thresh=1e-16, voter_thresh=0.5)
doubletdetection.plot.threshold(clf, save=f'../prediction/prediction{pred_count}/threshold_test.pdf', show=False, p_step=6)

In [111]:
df_detected['doublet'] = df_detected['doublet'].astype(int)

In [112]:
df_detected['doublet'].to_csv(f'../prediction/prediction{pred_count}/prediction.csv', header=None)

In [113]:
### Make summary of singlets and doublets and write to file ###
summary = pd.DataFrame(df_detected['doublet'].value_counts())
summary.index.name = 'Classification'
summary.reset_index(inplace=True)
summary = summary.rename({'DoubletDetection_DropletType': 'Droplet N'}, axis=1)

summary.to_csv(f'../prediction/prediction{pred_count}/DoubletDetection_summary.tsv', sep = "\t", index = False)